<section class="contact-form">
    <div class="contact-form__list">
        <div class="contact-form__item">
            <h3 class="contact-form__heading">Miền bắc:</h3>
            <div>
                <a href="https://zalo.me/0774666456" target="blank" class="contact-form__link">
                    <img src="/assets/icon/zalo1.png" alt="" class="contact-form__zalo" />
                    <div class="contact-form__user">
                        <p class="contact-form__name">Mr. Dũng</p>
                        <p class="contact-form__number">0774.666.456</p>
                    </div>
                </a>
            </div>
            <div>
                <a href="tel:0774666456" target="blank" class="contact-form__link">
                    <img src="/assets/icon/phone.png" alt="" class="contact-form__phone" />
                    <div class="contact-form__user">
                        <p class="contact-form__name">Mr. Dũng</p>
                        <p class="contact-form__number">0774.666.456</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="contact-form__list">
        <div class="contact-form__item">
            <h3 class="contact-form__heading">Miền Trung:</h3>
            <div>
                <a href="https://zalo.me/0774666456" target="blank" class="contact-form__link">
                    <img src="/assets/icon/zalo1.png" alt="" class="contact-form__zalo" />
                    <div class="contact-form__user">
                        <p class="contact-form__name">Ms. Phương</p>
                        <p class="contact-form__number">0774.666.456</p>
                    </div>
                </a>
            </div>
            <div>
                <a href="tel:0774666456" target="blank" class="contact-form__link">
                    <img src="/assets/icon/phone.png" alt="" class="contact-form__phone" />
                    <div class="contact-form__user">
                        <p class="contact-form__name">Ms. Phương</p>
                        <p class="contact-form__number">0774.666.456</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="contact-form__list">
        <div class="contact-form__item">
            <h3 class="contact-form__heading">Miền Nam:</h3>
            <div>
                <a href="https://zalo.me/0829666456" target="blank" class="contact-form__link">
                    <img src="/assets/icon/zalo1.png" alt="" class="contact-form__zalo" />
                    <div class="contact-form__user">
                        <p class="contact-form__name">Ms. Uyên</p>
                        <p class="contact-form__number">0829.666.456</p>
                    </div>
                </a>
            </div>
            <div>
                <a href="tel:0829666456" target="blank" class="contact-form__link">
                    <img src="/assets/icon/phone.png" alt="" class="contact-form__phone" />
                    <div class="contact-form__user">
                        <p class="contact-form__name">Ms. Uyên</p>
                        <p class="contact-form__number">0829.666.456</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
