<div class="container">
    <div class="footer-inner">
        <div class="footer-company">
            <!-- <a href="#" class="logo">
                <img src="/assets/icon/logo-an-khang-smart.png" alt="logo-an-khang-smart" class="logo__img" />
            </a> -->
            <h2 class="main-heading"><span>AN KHANG</span> ELECTRIC</h2>
            <div class="footer-company__info">
                <img src="/assets/icon/map-marker.svg" alt="address" class="footer-company__icon icon ld ld-bounce" />
                <span class="footer-company__content">VP Hà Nội: G58, Khu đô thị Xa La, Hà Đông, TP. Hà Nội</span>
            </div>
            <div class="footer-company__info">
                <img src="/assets/icon/map-marker.svg" alt="address" class="footer-company__icon icon ld ld-bounce" />
                <span class="footer-company__content"
                    >VP Đà Nẵng: Lô 9 KĐT Phương Trang, Đ.Hoàng Thị Loan, P.Hòa Minh, Q.Liên Chiểu,TP. Đà Nẵng</span
                >
            </div>
            <div class="footer-company__info">
                <img src="/assets/icon/map-marker.svg" alt="address" class="footer-company__icon icon ld ld-bounce" />
                <span class="footer-company__content"
                    >VP Hồ Chí Minh: 281 Nam Kỳ Khởi Nghĩa, P.14, Q.3, TP. Hồ Chí Minh</span
                >
            </div>
            <div class="footer-company__info">
                <img src="/assets/icon/call-incoming.svg" alt="phone" class="footer-company__icon icon" />
                <a href="tel:0774666456" class="footer-company__content">0774.666.456</a>
            </div>
            <div class="footer-company__info">
                <img src="/assets/icon/mail.svg" alt="mail" class="footer-company__icon icon" />
                <a href="mailto:tbd.ankhang@gmail.com" class="footer-company__content">tbd.ankhang@gmail.com</a>
            </div>
        </div>
    </div>
    <!-- Contac Zalo-phone -->
    <div class="contact-all-in-on">
        <div class="button-contact">
            <div class="button-contact__border"></div>
            <div class="button-contact__item">
                <a href="https://zalo.me/0774666456" target="blank" class="button-contact__link">
                    <img alt="zalo" src="/assets/icon/zalo1.png" class="button-contact__img ld ld-jingle" />
                </a>
                <a href="https://zalo.me/0774666456" target="blank" class="button-contact__content"
                    >Chi nhánh Hà Nội
                </a>
            </div>
        </div>
        <div class="button-contact">
            <div class="button-contact__border phone-ct"></div>
            <div class="button-contact__item phone-ct">
                <a href="tel:0774666456" target="blank" class="button-contact__link">
                    <img alt="zalo" src="/assets/icon/phone.png" class="button-contact__img ld ld-jingle" />
                </a>
                <a href="tel:0774666456" target="blank" class="button-contact__content"></a>
            </div>
        </div>
    </div>
</div>
