<div class="container">
    <div class="top-bar">
        <!-- logo -->
        <a href="/" class="logo">
            <img src="/assets/icon/Logo-An-Khang.png" alt="logo-an-khang-smart" class="logo__img" />
        </a>
        <!-- navbar -->
        <nav class="navbar">
            <ul class="navbar__list">
                <li class="navbar__item d-sm-none">
                    <a href="/gioi-thieu-an-khang-electric.html" class="navbar__link">An Khang Electric</a>
                </li>
                <li class="navbar__item">
                    <a class="navbar__link"
                        >Sản phẩm <img src="/assets/icon/sort-down.svg" alt="sort-down" class="icon navbar__icon"
                    /></a>
                    <div class="dropdown">
                        <div class="dropdown__inner">
                            <div class="top-menu">
                                <div class="top-menu__main">
                                    <!-- menu column -->
                                    <div class="menu-column">
                                        <div class="menu-column__icon">
                                            <img
                                                src="/assets/img/category/png-clipart-red-circle-circle-round.png"
                                                alt="png-clipart-red-circle-circle-roundpng-clipart-red-circle-circle-round"
                                                class="menu-column__icon-1"
                                            />
                                            <img
                                                src="/assets/img/category/menu-60.png"
                                                alt="menu"
                                                class="menu-column__icon-2"
                                            />
                                        </div>
                                        <div class="menu-column__content">
                                            <h2 class="menu-column__heading">Sản phẩm</h2>
                                            <ul class="menu-column__list">
                                                <li class="menu-column__item">
                                                    <a href="#!" class="menu-column__link">Thiết bị điện công nghiệp</a>
                                                    <div class="sub-menu d-lg-none">
                                                        <!-- sub menu column TBDCN 1-->
                                                        <div class="menu-column">
                                                            <div class="menu-column__icon d-xl-none">
                                                                <img
                                                                    src="/assets/img/category/png-clipart-red-circle-circle-round.png"
                                                                    alt="png-clipart-red-circle-circle-round"
                                                                    class="menu-column__icon-1"
                                                                />
                                                                <img
                                                                    src="/assets/img/category/thiet-bi-dien-ls.png"
                                                                    alt="thiet-bi-dien-ls"
                                                                    class="menu-column__icon-2"
                                                                />
                                                            </div>
                                                            <div class="menu-column__content">
                                                                <a href="/thiet-bi-dien-ls.html">
                                                                    <h2 class="menu-column__heading">
                                                                        Thiết bị điện LS
                                                                    </h2>
                                                                </a>
                                                                <ul class="menu-column__list">
                                                                    <li class="menu-column__item">
                                                                        <a href="#!" class="menu-column__link">MCCB</a>
                                                                    </li>
                                                                    <li class="menu-column__item">
                                                                        <a href="#!" class="menu-column__link">MCB</a>
                                                                    </li>
                                                                    <li class="menu-column__item">
                                                                        <a href="#!" class="menu-column__link"
                                                                            >ELCB - RCBO - RCCB</a
                                                                        >
                                                                    </li>
                                                                    <li class="menu-column__item">
                                                                        <a href="#!" class="menu-column__link"
                                                                            >Contactor & Rơle</a
                                                                        >
                                                                    </li>
                                                                    <li class="menu-column__item">
                                                                        <a href="#!" class="menu-column__link"
                                                                            >MMS, Gimac</a
                                                                        >
                                                                    </li>
                                                                    <li class="menu-column__item">
                                                                        <a href="#!" class="menu-column__link">ACB</a>
                                                                    </li>
                                                                    <li class="menu-column__item">
                                                                        <a href="#!" class="menu-column__link"
                                                                            >Biến tần</a
                                                                        >
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <!-- sub menu column TBDCN 2-->
                                                        <div class="menu-column">
                                                            <div class="menu-column__icon d-xl-none">
                                                                <img
                                                                    src="/assets/img/category/png-clipart-red-circle-circle-round.png"
                                                                    alt="png-clipart-red-circle-circle-roundpng-clipart-red-circle-circle-round"
                                                                    class="menu-column__icon-1"
                                                                />
                                                                <img
                                                                    src="/assets/img/category/thiet-bi-dien-huyndai.png"
                                                                    alt="thiet-bi-dien-huyndai"
                                                                    class="menu-column__icon-2"
                                                                />
                                                            </div>
                                                            <div class="menu-column__content">
                                                                <a href="/thiet-bi-dien-huyndai.html">
                                                                    <h2 class="menu-column__heading">
                                                                        Thiết bị điện Huyndai
                                                                    </h2>
                                                                </a>
                                                                <ul class="menu-column__list">
                                                                    <li class="menu-column__item">
                                                                        <a href="#!" class="menu-column__link">MCCB</a>
                                                                    </li>
                                                                    <li class="menu-column__item">
                                                                        <a href="#!" class="menu-column__link">MCB</a>
                                                                    </li>
                                                                    <li class="menu-column__item">
                                                                        <a href="#!" class="menu-column__link"
                                                                            >ELCB - RCBO - RCCB</a
                                                                        >
                                                                    </li>
                                                                    <li class="menu-column__item">
                                                                        <a href="#!" class="menu-column__link"
                                                                            >Contactor & Rơle</a
                                                                        >
                                                                    </li>
                                                                    <li class="menu-column__item">
                                                                        <a href="#!" class="menu-column__link"
                                                                            >MMS, Gimac</a
                                                                        >
                                                                    </li>
                                                                    <li class="menu-column__item">
                                                                        <a href="#!" class="menu-column__link">ACB</a>
                                                                    </li>
                                                                    <li class="menu-column__item">
                                                                        <a href="#!" class="menu-column__link"
                                                                            >Biến tần</a
                                                                        >
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <!-- sub menu column TBDCN 3-->
                                                        <div class="menu-column">
                                                            <div class="menu-column__icon d-xl-none">
                                                                <img
                                                                    src="/assets/img/category/png-clipart-red-circle-circle-round.png"
                                                                    alt="png-clipart-red-circle-circle-round"
                                                                    class="menu-column__icon-1"
                                                                />
                                                                <img
                                                                    src="/assets/img/category/thiet-bi-dien-Mitsubishi.png"
                                                                    alt="thiet-bi-dien-Mitsubishi"
                                                                    class="menu-column__icon-2"
                                                                />
                                                            </div>
                                                            <div class="menu-column__content">
                                                                <a href="/thiet-bi-dien-mitsubishi.html">
                                                                    <h2 class="menu-column__heading">
                                                                        Thiết bị điện Mitsubishi
                                                                    </h2>
                                                                </a>
                                                                <ul class="menu-column__list">
                                                                    <li class="menu-column__item">
                                                                        <a href="#!" class="menu-column__link">MCCB</a>
                                                                    </li>
                                                                    <li class="menu-column__item">
                                                                        <a href="#!" class="menu-column__link">MCB</a>
                                                                    </li>
                                                                    <li class="menu-column__item">
                                                                        <a href="#!" class="menu-column__link"
                                                                            >ELCB - RCBO - RCCB</a
                                                                        >
                                                                    </li>
                                                                    <li class="menu-column__item">
                                                                        <a href="#!" class="menu-column__link"
                                                                            >Contactor & Rơle</a
                                                                        >
                                                                    </li>
                                                                    <li class="menu-column__item">
                                                                        <a href="#!" class="menu-column__link"
                                                                            >MMS, Gimac</a
                                                                        >
                                                                    </li>
                                                                    <li class="menu-column__item">
                                                                        <a href="#!" class="menu-column__link">ACB</a>
                                                                    </li>
                                                                    <li class="menu-column__item">
                                                                        <a href="#!" class="menu-column__link"
                                                                            >Biến tần</a
                                                                        >
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <!-- sub menu column TBDCN 4-->
                                                        <div class="menu-column">
                                                            <div class="menu-column__icon d-xl-none">
                                                                <img
                                                                    src="/assets/img/category/png-clipart-red-circle-circle-round.png"
                                                                    alt="png-clipart-red-circle-circle-round"
                                                                    class="menu-column__icon-1"
                                                                />
                                                                <img
                                                                    src="/assets/img/category/thiet-bi-dien-Schneider.png"
                                                                    alt="thiet-bi-dien-Schneider"
                                                                    class="menu-column__icon-2"
                                                                />
                                                            </div>
                                                            <div class="menu-column__content">
                                                                <a href="/thiet-bi-dien-schneider.html">
                                                                    <h2 class="menu-column__heading">
                                                                        Thiết bị điện Schneider
                                                                    </h2>
                                                                </a>
                                                                <ul class="menu-column__list">
                                                                    <li class="menu-column__item">
                                                                        <a href="#!" class="menu-column__link">MCCB</a>
                                                                    </li>
                                                                    <li class="menu-column__item">
                                                                        <a href="#!" class="menu-column__link">MCB</a>
                                                                    </li>
                                                                    <li class="menu-column__item">
                                                                        <a href="#!" class="menu-column__link"
                                                                            >ELCB - RCBO - RCCB</a
                                                                        >
                                                                    </li>
                                                                    <li class="menu-column__item">
                                                                        <a href="#!" class="menu-column__link"
                                                                            >Contactor & Rơle</a
                                                                        >
                                                                    </li>
                                                                    <li class="menu-column__item">
                                                                        <a href="#!" class="menu-column__link"
                                                                            >MMS, Gimac</a
                                                                        >
                                                                    </li>
                                                                    <li class="menu-column__item">
                                                                        <a href="#!" class="menu-column__link">ACB</a>
                                                                    </li>
                                                                    <li class="menu-column__item">
                                                                        <a href="#!" class="menu-column__link"
                                                                            >Biến tần</a
                                                                        >
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <!-- sub menu column TBDCN 5-->
                                                        <div class="menu-column">
                                                            <div class="menu-column__icon d-xl-none">
                                                                <img
                                                                    src="/assets/img/category/png-clipart-red-circle-circle-round.png"
                                                                    alt="png-clipart-red-circle-circle-round"
                                                                    class="menu-column__icon-1"
                                                                />
                                                                <img
                                                                    src="/assets/img/category/thiet-bi-dien-chint.png"
                                                                    alt="thiet-bi-dien-chint"
                                                                    class="menu-column__icon-2"
                                                                />
                                                            </div>
                                                            <div class="menu-column__content">
                                                                <a href="/thiet-bi-dien-chint.html">
                                                                    <h2 class="menu-column__heading">
                                                                        Thiết bị điện Chint
                                                                    </h2>
                                                                </a>
                                                                <ul class="menu-column__list">
                                                                    <li class="menu-column__item">
                                                                        <a href="#!" class="menu-column__link">MCCB</a>
                                                                    </li>
                                                                    <li class="menu-column__item">
                                                                        <a
                                                                            href="/thiet-bi-dien-chint/aptomat-mcb-at-cai-chint.html"
                                                                            class="menu-column__link"
                                                                            >MCB</a
                                                                        >
                                                                    </li>
                                                                    <li class="menu-column__item">
                                                                        <a href="#!" class="menu-column__link"
                                                                            >ELCB - RCBO - RCCB</a
                                                                        >
                                                                    </li>
                                                                    <li class="menu-column__item">
                                                                        <a href="#!" class="menu-column__link"
                                                                            >Contactor & Rơle</a
                                                                        >
                                                                    </li>
                                                                    <li class="menu-column__item">
                                                                        <a href="#!" class="menu-column__link"
                                                                            >MMS, Gimac</a
                                                                        >
                                                                    </li>
                                                                    <li class="menu-column__item">
                                                                        <a href="#!" class="menu-column__link">ACB</a>
                                                                    </li>
                                                                    <li class="menu-column__item">
                                                                        <a href="#!" class="menu-column__link"
                                                                            >Biến tần</a
                                                                        >
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <!-- sub menu column TBDCN 6-->
                                                        <div class="menu-column">
                                                            <div class="menu-column__icon d-xl-none">
                                                                <img
                                                                    src="/assets/img/category/png-clipart-red-circle-circle-round.png"
                                                                    alt="png-clipart-red-circle-circle-round"
                                                                    class="menu-column__icon-1"
                                                                />
                                                                <img
                                                                    src="/assets/img/category/thiet-bi-dien-ABB.png"
                                                                    alt="thiet-bi-dien-ABB"
                                                                    class="menu-column__icon-2"
                                                                />
                                                            </div>
                                                            <div class="menu-column__content">
                                                                <a href="/thiet-bi-dien-abb.html">
                                                                    <h2 class="menu-column__heading">
                                                                        Thiết bị điện ABB
                                                                    </h2>
                                                                </a>
                                                                <ul class="menu-column__list">
                                                                    <li class="menu-column__item">
                                                                        <a href="#!" class="menu-column__link">MCCB</a>
                                                                    </li>
                                                                    <li class="menu-column__item">
                                                                        <a href="#!" class="menu-column__link">MCB</a>
                                                                    </li>
                                                                    <li class="menu-column__item">
                                                                        <a href="#!" class="menu-column__link"
                                                                            >ELCB - RCBO - RCCB</a
                                                                        >
                                                                    </li>
                                                                    <li class="menu-column__item">
                                                                        <a href="#!" class="menu-column__link"
                                                                            >Contactor & Rơle</a
                                                                        >
                                                                    </li>
                                                                    <li class="menu-column__item">
                                                                        <a href="#!" class="menu-column__link"
                                                                            >MMS, Gimac</a
                                                                        >
                                                                    </li>
                                                                    <li class="menu-column__item">
                                                                        <a href="#!" class="menu-column__link">ACB</a>
                                                                    </li>
                                                                    <li class="menu-column__item">
                                                                        <a href="#!" class="menu-column__link"
                                                                            >Biến tần</a
                                                                        >
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="menu-column__item">
                                                    <a
                                                        href="/thiet-bi-dien-thong-minh-hunonic.html"
                                                        class="menu-column__link"
                                                        >Thiết bị điện thông minh</a
                                                    >
                                                </li>
                                                <li class="menu-column__item">
                                                    <a href="#!" class="menu-column__link">Thiết bị điện chiếu sáng</a>
                                                </li>
                                                <li class="menu-column__item">
                                                    <a href="#!" class="menu-column__link">Dây cáp điện</a>
                                                </li>
                                                <li class="menu-column__item">
                                                    <a href="#!" class="menu-column__link">Tụ bù</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>

                <li class="navbar__item">
                    <a href="/bang-gia.html" class="navbar__link">Bảng giá</a>
                </li>
                <li class="navbar__item">
                    <a href="/catalog.html" class="navbar__link">Catalogue</a>
                </li>
                <li class="navbar__item d-sm-none">
                    <a href="#!" class="navbar__link">Tin tức</a>
                </li>
            </ul>
        </nav>

        <!-- action -->
        <!-- <div class="top-act d-sm-none">
            <button class="top-act__btn">
                <a href="#!">
                    <img src="/assets/icon/shopping-cart-add.svg" alt="shopping-cart-add" class="icon top-act__icon" />
                    <span class="top-act__title">0</span>
                </a>
            </button>
            <div class="top-act__user">
                <img src="/assets/img/uifaces-popular-image.jpg" alt="uifaces-popular-image" class="top-act__avatar" />
            </div>
        </div> -->
        <!-- contac_bar -->
        <div class="contac-bar">
            <img src="/assets/icon/call-incoming.svg" alt="icon-phone" class="icon contac-bar__icon" />
            <a href="tel:0774666456" class="contac-bar__hotline ld ld-float">0774.666.456</a>
        </div>
    </div>
</div>
