<div class="related-main">
    <div class="document-price ld ld-damage">
        <a href="/tu-bu-samwha/catalogue-tu-bu-samwha.html">
            <div class="document-price__item">
                <img src="/assets/icon/file-download.svg" alt="Catalogue Samwha" class="icon ld ld-heartbeat" />
                <h3>Catalogue Samwha</h3>
            </div>
        </a>
        <a href="/tu-bu-samwha/bang-gia-tu-bu-samwha.html">
            <div class="document-price__item">
                <img src="/assets/icon/file-download.svg" alt="Bảng giá Samwha" class="icon ld ld-heartbeat" />
                <h3>Bảng giá Samwha</h3>
            </div>
        </a>
    </div>
    <div class="related-products">
        <div class="related-products__list">
            <a href="">
                <div class="related-products__item">
                    <img
                        src="/assets/img/tu-tu/samwha/icon/tu-bu-415v-samwha-dau-oil.png"
                        alt="Tụ bù dầu 3P 415V Samwha"
                        class="icon"
                    />
                    <h3>Tụ bù dầu 3P 415V Samwha</h3>
                </div>
            </a>
            <a href="">
                <div class="related-products__item">
                    <img
                        src="/assets/img/tu-tu/samwha/icon/tu-bu-440v-samwha-kho.png"
                        alt="Công tắc thông minh Samwha"
                        class="icon"
                    />
                    <h3>Tụ bù khô 3P 440V Samwha</h3>
                </div>
            </a>
        </div>
    </div>
</div>
