<!-- Công tắc thông minh Hunonic -->
<section class="home-body">
    <div class="product-details">
        <h2 id="Aptomat-MCB-LS" class="product-details__heading">Công tắc - ổ cắm thông minh Hunonic</h2>
        <div class="product-group">
            <div class="product-group__list">
                <div class="product-group__item">
                    <a href="/thiet-bi-dien-thong-minh-hunonic/cong-tac-thong-minh-bluetooth-datic-chu-nhat.html">
                        <div class="product-item">
                            <div class="product-item__thumb">
                                <img
                                    src="/assets/img/thong-minh/hunonic/cong-tac-thong-minh-bluetooth-datic-chu-nhat/cong-tac-thong-minh-bluetooth-datic-chu-nhat-1-nut-den.jpg"
                                    alt="Công tắc Thông minh Bluetooth Datic Hình chữ nhật"
                                    class="product-item__img"
                                    loading="lazy"
                                />
                            </div>
                            <h3 class="product-item__heading">Công tắc Thông minh Bluetooth Datic Hình chữ nhật</h3>
                            <div class="product-item__brand">
                                <img
                                    src="/assets/img/thong-minh/hunonic/icon/logo hunonic.png"
                                    alt="thiết bị điện Hunonic"
                                    class="icon"
                                    loading="lazy"
                                />
                                <p>HUNONIC</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="product-group__list">
                <div class="product-group__item">
                    <a href="/thiet-bi-dien-thong-minh-hunonic/cong-tac-thong-minh-wifi-datic-chu-nhat.html">
                        <div class="product-item">
                            <div class="product-item__thumb">
                                <img
                                    src="/assets/img/thong-minh/hunonic/cong-tac-thong-minh-wifi-datic-chu-nhat/cong-tac-thong-minh-wifi-datic-chu-nhat-1-nut-trang.jpg"
                                    alt="Công tắc Thông minh Wifi Datic Hình chữ nhật"
                                    class="product-item__img"
                                    loading="lazy"
                                />
                            </div>
                            <h3 class="product-item__heading">Công tắc Thông minh Wifi Datic Hình chữ nhật</h3>
                            <div class="product-item__brand">
                                <img
                                    src="/assets/img/thong-minh/hunonic/icon/logo hunonic.png"
                                    alt="thiết bị điện Hunonic"
                                    class="icon"
                                    loading="lazy"
                                />
                                <p>HUNONIC</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="product-group__list">
                <div class="product-group__item">
                    <a href="/thiet-bi-dien-thong-minh-hunonic/cong-tac-thong-minh-bluetooth-luxury-chu-nhat.html">
                        <div class="product-item">
                            <div class="product-item__thumb">
                                <img
                                    src="/assets/img/thong-minh/hunonic/cong-tac-thong-minh-bluetooth-luxury-chu-nhat/cong-tac-thong-minh-bluetooth-luxury-chu-nhat-1-nut-den.jpg"
                                    alt="Công tắc Thông minh Bluetooth Luxury Hình chữ nhật"
                                    class="product-item__img"
                                    loading="lazy"
                                />
                            </div>
                            <h3 class="product-item__heading">Công tắc Thông minh Bluetooth Luxury Hình chữ nhật</h3>
                            <div class="product-item__brand">
                                <img
                                    src="/assets/img/thong-minh/hunonic/icon/logo hunonic.png"
                                    alt="thiết bị điện Hunonic"
                                    class="icon"
                                    loading="lazy"
                                />
                                <p>HUNONIC</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="product-group__list">
                <div class="product-group__item">
                    <a href="/thiet-bi-dien-thong-minh-hunonic/cong-tac-thong-minh-bluetooth-luxury-vuong.html">
                        <div class="product-item">
                            <div class="product-item__thumb">
                                <img
                                    src="/assets/img/thong-minh/hunonic/cong-tac-thong-minh-bluetooth-luxury-vuong/cong-tac-thong-minh-bluetooth-luxury-vuong-1-nut-den.jpg"
                                    alt="Công tắc Thông minh Bluetooth Luxury Vuông"
                                    class="product-item__img"
                                    loading="lazy"
                                />
                            </div>
                            <h3 class="product-item__heading">Công tắc Thông minh Bluetooth Luxury Vuông</h3>
                            <div class="product-item__brand">
                                <img
                                    src="/assets/img/thong-minh/hunonic/icon/logo hunonic.png"
                                    alt="thiết bị điện Hunonic"
                                    class="icon"
                                    loading="lazy"
                                />
                                <p>HUNONIC</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="product-group__list">
                <div class="product-group__item">
                    <a href="/thiet-bi-dien-thong-minh-hunonic/cong-tac-thong-minh-wifi-luxury-chu-nhat.html">
                        <div class="product-item">
                            <div class="product-item__thumb">
                                <img
                                    src="/assets/img/thong-minh/hunonic/cong-tac-thong-minh-wifi-luxury-chu-nhat/cong-tac-thong-minh-wifi-luxury-chu-nhat-1-nut-trang.jpg"
                                    alt="Công tắc Thông minh Wifi Luxury Hình chữ nhật"
                                    class="product-item__img"
                                    loading="lazy"
                                />
                            </div>
                            <h3 class="product-item__heading">Công tắc Thông minh Wifi Luxury Hình chữ nhật</h3>
                            <div class="product-item__brand">
                                <img
                                    src="/assets/img/thong-minh/hunonic/icon/logo hunonic.png"
                                    alt="thiết bị điện Hunonic"
                                    class="icon"
                                    loading="lazy"
                                />
                                <p>HUNONIC</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="product-group__list">
                <div class="product-group__item">
                    <a href="/thiet-bi-dien-thong-minh-hunonic/cong-tac-thong-minh-wifi-luxury-vuong.html">
                        <div class="product-item">
                            <div class="product-item__thumb">
                                <img
                                    src="/assets/img/thong-minh/hunonic/cong-tac-thong-minh-wifi-luxury-vuong/cong-tac-thong-minh-wifi-luxury-vuong-1-nut-trang.jpg"
                                    alt="Công tắc Thông minh Wifi Luxury Vuông"
                                    class="product-item__img"
                                    loading="lazy"
                                />
                            </div>
                            <h3 class="product-item__heading">Công tắc Thông minh Wifi Luxury Vuông</h3>
                            <div class="product-item__brand">
                                <img
                                    src="/assets/img/thong-minh/hunonic/icon/logo hunonic.png"
                                    alt="thiết bị điện Hunonic"
                                    class="icon"
                                    loading="lazy"
                                />
                                <p>HUNONIC</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="product-group__list">
                <div class="product-group__item">
                    <a href="/thiet-bi-dien-thong-minh-hunonic/cong-tac-thong-minh-bluetooth-premium-chu-nhat.html">
                        <div class="product-item">
                            <div class="product-item__thumb">
                                <img
                                    src="/assets/img/thong-minh/hunonic/cong-tac-thong-minh-bluetooth-premium-chu-nhat/cong-tac-thong-minh-bluetooth-premium-chu-nhat-1-nut.jpg"
                                    alt="Công tắc Thông minh Bluetooth Premium Hình chữ nhật"
                                    class="product-item__img"
                                    loading="lazy"
                                />
                            </div>
                            <h3 class="product-item__heading">Công tắc Thông minh Bluetooth Premium Hình chữ nhật</h3>
                            <div class="product-item__brand">
                                <img
                                    src="/assets/img/thong-minh/hunonic/icon/logo hunonic.png"
                                    alt="thiết bị điện Hunonic"
                                    class="icon"
                                    loading="lazy"
                                />
                                <p>HUNONIC</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="product-group__list">
                <div class="product-group__item">
                    <a href="/thiet-bi-dien-thong-minh-hunonic/cong-tac-thong-minh-bluetooth-premium-vuong.html">
                        <div class="product-item">
                            <div class="product-item__thumb">
                                <img
                                    src="/assets/img/thong-minh/hunonic/cong-tac-thong-minh-bluetooth-premium-vuong/cong-tac-thong-minh-bluetooth-premium-vuong-1-nut.jpg"
                                    alt="Công tắc Thông minh Bluetooth Premium Vuông"
                                    class="product-item__img"
                                    loading="lazy"
                                />
                            </div>
                            <h3 class="product-item__heading">Công tắc Thông minh Bluetooth Premium Vuông</h3>
                            <div class="product-item__brand">
                                <img
                                    src="/assets/img/thong-minh/hunonic/icon/logo hunonic.png"
                                    alt="thiết bị điện Hunonic"
                                    class="icon"
                                    loading="lazy"
                                />
                                <p>HUNONIC</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="product-group__list">
                <div class="product-group__item">
                    <a href="/thiet-bi-dien-thong-minh-hunonic/cong-tac-cua-cuon-thong-minh-hunonic-datic-door.html">
                        <div class="product-item">
                            <div class="product-item__thumb">
                                <img
                                    src="/assets/img/thong-minh/hunonic/cong-tac-cua-cuon-thong-minh-hunonic-datic-door/cong-tac-cua-cuon-thong-minh-hunonic-datic-door-1.jpg"
                                    alt="Công tắc Thông minh Bluetooth Premium Vuông"
                                    class="product-item__img"
                                    loading="lazy"
                                />
                            </div>
                            <h3 class="product-item__heading">Công tắc Cửa cuốn thông minh Hunonic Door</h3>
                            <div class="product-item__brand">
                                <img
                                    src="/assets/img/thong-minh/hunonic/icon/logo hunonic.png"
                                    alt="thiết bị điện Hunonic"
                                    class="icon"
                                    loading="lazy"
                                />
                                <p>HUNONIC</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Bộ điều khiển tích hợp Hunonic -->
<section class="home-body">
    <div class="product-details">
        <h2 id="Aptomat-MCB-LS" class="product-details__heading">Bộ điều khiển tích hợp Hunonic</h2>
        <div class="product-group">
            <div class="product-group__list">
                <div class="product-group__item">
                    <a href="/thiet-bi-dien-thong-minh-hunonic/cong-tac-thong-minh-dieu-khien-tu-xa-datic-basic.html">
                        <div class="product-item">
                            <div class="product-item__thumb">
                                <img
                                    src="/assets/img/thong-minh/hunonic/cong-tac-thong-minh-dieu-khien-tu-xa-datic-basic/cong-tac-thong-minh-dieu-khien-tu-xa-datic-basic-1.jpg"
                                    alt="Công tắc điều khiển từ xa Datic Basic (DTBS01)"
                                    class="product-item__img"
                                    loading="lazy"
                                />
                            </div>
                            <h3 class="product-item__heading">Công tắc điều khiển từ xa Datic Basic (DTBS01)</h3>
                            <div class="product-item__brand">
                                <img
                                    src="/assets/img/thong-minh/hunonic/icon/logo hunonic.png"
                                    alt="thiết bị điện Hunonic"
                                    class="icon"
                                    loading="lazy"
                                />
                                <p>HUNONIC</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="product-group__list">
                <div class="product-group__item">
                    <a href="/thiet-bi-dien-thong-minh-hunonic/cong-tac-thong-minh-dieu-khien-tu-xa-hunonic-lahu.html">
                        <div class="product-item">
                            <div class="product-item__thumb">
                                <img
                                    src="/assets/img/thong-minh/hunonic/cong-tac-thong-minh-dieu-khien-tu-xa-hunonic-lahu/cong-tac-thong-minh-dieu-khien-tu-xa-hunonic-lahu-1-kenh-1.jpg"
                                    alt="Công tắc điều khiển từ xa Lahu (Lahu)"
                                    class="product-item__img"
                                    loading="lazy"
                                />
                            </div>
                            <h3 class="product-item__heading">Công tắc điều khiển từ xa Lahu (Lahu)</h3>
                            <div class="product-item__brand">
                                <img
                                    src="/assets/img/thong-minh/hunonic/icon/logo hunonic.png"
                                    alt="thiết bị điện Hunonic"
                                    class="icon"
                                    loading="lazy"
                                />
                                <p>HUNONIC</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="product-group__list">
                <div class="product-group__item">
                    <a href="/thiet-bi-dien-thong-minh-hunonic/cong-tac-thong-minh-dieu-khien-tu-xa-noma-4ch.html">
                        <div class="product-item">
                            <div class="product-item__thumb">
                                <img
                                    src="/assets/img/thong-minh/hunonic/cong-tac-thong-minh-dieu-khien-tu-xa-noma-4ch/cong-tac-thong-minh-dieu-khien-tu-xa-noma-4ch-1.jpg"
                                    alt="Công Tắc điều khiển từ xa Noma 4CH (HNnoma)"
                                    class="product-item__img"
                                    loading="lazy"
                                />
                            </div>
                            <h3 class="product-item__heading">Công Tắc điều khiển từ xa Noma 4CH (HNnoma)</h3>
                            <div class="product-item__brand">
                                <img
                                    src="/assets/img/thong-minh/hunonic/icon/logo hunonic.png"
                                    alt="thiết bị điện Hunonic"
                                    class="icon"
                                    loading="lazy"
                                />
                                <p>HUNONIC</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="product-group__list">
                <div class="product-group__item">
                    <a href="/thiet-bi-dien-thong-minh-hunonic/cong-tac-thong-minh-dieu-khien-tu-xa-hunonic-mini.html">
                        <div class="product-item">
                            <div class="product-item__thumb">
                                <img
                                    src="/assets/img/thong-minh/hunonic/cong-tac-thong-minh-dieu-khien-tu-xa-hunonic-mini/cong-tac-thong-minh-dieu-khien-tu-xa-hunonic-mini-1.jpg"
                                    alt="Công Tắc điều khiển từ xa Hunonic Mini (HNmini)"
                                    class="product-item__img"
                                    loading="lazy"
                                />
                            </div>
                            <h3 class="product-item__heading">Công Tắc điều khiển từ xa Hunonic Mini (HNmini)</h3>
                            <div class="product-item__brand">
                                <img
                                    src="/assets/img/thong-minh/hunonic/icon/logo hunonic.png"
                                    alt="thiết bị điện Hunonic"
                                    class="icon"
                                    loading="lazy"
                                />
                                <p>HUNONIC</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Cảm biến thông minh -->
<section class="home-body">
    <div class="product-details">
        <h2 id="Aptomat-MCB-LS" class="product-details__heading">Cảm biến thông minh</h2>
        <div class="product-group">
            <div class="product-group__list">
                <div class="product-group__item">
                    <a href="/thiet-bi-dien-thong-minh-hunonic/cam-bien-cau-thang-wifi-bluetooth.html">
                        <div class="product-item">
                            <div class="product-item__thumb">
                                <img
                                    src="/assets/img/thong-minh/hunonic/cam-bien-cau-thang-wifi/cam-bien-cau-thang-wifi-2.jpg"
                                    alt="Cảm biến cầu thang"
                                    class="product-item__img"
                                    loading="lazy"
                                />
                            </div>
                            <h3 class="product-item__heading">Cảm biến cầu thang</h3>
                            <div class="product-item__brand">
                                <img
                                    src="/assets/img/thong-minh/hunonic/icon/logo hunonic.png"
                                    alt="thiết bị điện Hunonic"
                                    class="icon"
                                    loading="lazy"
                                />
                                <p>HUNONIC</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="product-group__list">
                <div class="product-group__item">
                    <a href="/thiet-bi-dien-thong-minh-hunonic/cam-bien-hien-dien-wifi.html">
                        <div class="product-item">
                            <div class="product-item__thumb">
                                <img
                                    src="/assets/img/thong-minh/hunonic/cam-bien-hien-dien/cam-bien-hien-dien-1.jpg"
                                    alt="Cảm biến hiện diện"
                                    class="product-item__img"
                                    loading="lazy"
                                />
                            </div>
                            <h3 class="product-item__heading">Cảm biến hiện diện</h3>
                            <div class="product-item__brand">
                                <img
                                    src="/assets/img/thong-minh/hunonic/icon/logo hunonic.png"
                                    alt="thiết bị điện Hunonic"
                                    class="icon"
                                    loading="lazy"
                                />
                                <p>HUNONIC</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="product-group__list">
                <div class="product-group__item">
                    <a href="/thiet-bi-dien-thong-minh-hunonic/cam-bien-nhiet-do-do-am-wifi.html">
                        <div class="product-item">
                            <div class="product-item__thumb">
                                <img
                                    src="/assets/img/thong-minh/hunonic/cam-bien-nhiet-do-do-am-wifi/cam-bien-nhiet-do-do-am-wifi-1.jpg"
                                    alt="Cảm biến nhiệt độ và độ ẩm"
                                    class="product-item__img"
                                    loading="lazy"
                                />
                            </div>
                            <h3 class="product-item__heading">Cảm biến nhiệt độ và độ ẩm</h3>
                            <div class="product-item__brand">
                                <img
                                    src="/assets/img/thong-minh/hunonic/icon/logo hunonic.png"
                                    alt="thiết bị điện Hunonic"
                                    class="icon"
                                    loading="lazy"
                                />
                                <p>HUNONIC</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="product-group__list">
                <div class="product-group__item">
                    <a href="/thiet-bi-dien-thong-minh-hunonic/cam-bien-cua-door-sensor-HNSSDOOR.html">
                        <div class="product-item">
                            <div class="product-item__thumb">
                                <img
                                    src="/assets/img/thong-minh/hunonic/cam-bien-cua-door-sensor-HNSSDOOR/cam-bien-cua-door-sensor-HNSSDOOR-1.jpg"
                                    alt="Cảm biến cửa"
                                    class="product-item__img"
                                    loading="lazy"
                                />
                            </div>
                            <h3 class="product-item__heading">Cảm biến cửa</h3>
                            <div class="product-item__brand">
                                <img
                                    src="/assets/img/thong-minh/hunonic/icon/logo hunonic.png"
                                    alt="thiết bị điện Hunonic"
                                    class="icon"
                                    loading="lazy"
                                />
                                <p>HUNONIC</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="product-group__list">
                <div class="product-group__item">
                    <a href="/thiet-bi-dien-thong-minh-hunonic/bo-cam-bien-chuyen-dong-pir-sensor.html">
                        <div class="product-item">
                            <div class="product-item__thumb">
                                <img
                                    src="/assets/img/thong-minh/hunonic/bo-cam-bien-chuyen-dong-pir-sensor/bo-cam-bien-chuyen-dong-pir-sensor-1.jpg"
                                    alt="Cảm biến chuyển động"
                                    class="product-item__img"
                                    loading="lazy"
                                />
                            </div>
                            <h3 class="product-item__heading">Cảm biến chuyển động</h3>
                            <div class="product-item__brand">
                                <img
                                    src="/assets/img/thong-minh/hunonic/icon/logo hunonic.png"
                                    alt="thiết bị điện Hunonic"
                                    class="icon"
                                    loading="lazy"
                                />
                                <p>HUNONIC</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="product-group__list">
                <div class="product-group__item">
                    <a href="/thiet-bi-dien-thong-minh-hunonic/cam-bien-khoi-hunonic-smoker-HNSSSMKR.html">
                        <div class="product-item">
                            <div class="product-item__thumb">
                                <img
                                    src="/assets/img/thong-minh/hunonic/cam-bien-khoi-hunonic-smoker-HNSSSMKR/cam-bien-khoi-hunonic-smoker-HNSSSMKR-1.jpg"
                                    alt="Cảm biến khói"
                                    class="product-item__img"
                                    loading="lazy"
                                />
                            </div>
                            <h3 class="product-item__heading">Cảm biến khói</h3>
                            <div class="product-item__brand">
                                <img
                                    src="/assets/img/thong-minh/hunonic/icon/logo hunonic.png"
                                    alt="thiết bị điện Hunonic"
                                    class="icon"
                                    loading="lazy"
                                />
                                <p>HUNONIC</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Ổ cắm thông minh -->
<section class="home-body">
    <div class="product-details">
        <h2 id="Aptomat-MCB-LS" class="product-details__heading">Ổ cắm thông minh</h2>
        <div class="product-group">
            <div class="product-group__list">
                <div class="product-group__item">
                    <a href="/thiet-bi-dien-thong-minh-hunonic/o-cam-thong-minh-sk01.html">
                        <div class="product-item">
                            <div class="product-item__thumb">
                                <img
                                    src="/assets/img/thong-minh/hunonic/o-cam-thong-minh-sk01/o-cam-thong-minh-sk01-1.jpg"
                                    alt="Ổ cắm thông minh SK01"
                                    class="product-item__img"
                                    loading="lazy"
                                />
                            </div>
                            <h3 class="product-item__heading">Ổ cắm thông minh SK01</h3>
                            <div class="product-item__brand">
                                <img
                                    src="/assets/img/thong-minh/hunonic/icon/logo hunonic.png"
                                    alt="thiết bị điện Hunonic"
                                    class="icon"
                                    loading="lazy"
                                />
                                <p>HUNONIC</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="product-group__list">
                <div class="product-group__item">
                    <a href="/thiet-bi-dien-thong-minh-hunonic/o-cam-quat-thong-minh-sk18.html">
                        <div class="product-item">
                            <div class="product-item__thumb">
                                <img
                                    src="/assets/img/thong-minh/hunonic/o-cam-quat-thong-minh-sk18/o-cam-quat-thong-minh-sk18-1.jpg"
                                    alt="Ổ cắm quạt thông minh SK18"
                                    class="product-item__img"
                                    loading="lazy"
                                />
                            </div>
                            <h3 class="product-item__heading">Ổ cắm quạt thông minh SK18</h3>
                            <div class="product-item__brand">
                                <img
                                    src="/assets/img/thong-minh/hunonic/icon/logo hunonic.png"
                                    alt="thiết bị điện Hunonic"
                                    class="icon"
                                    loading="lazy"
                                />
                                <p>HUNONIC</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="product-group__list">
                <div class="product-group__item">
                    <a href="/thiet-bi-dien-thong-minh-hunonic/o-cam-2-o-co-tiep-dia.html">
                        <div class="product-item">
                            <div class="product-item__thumb">
                                <img
                                    src="/assets/img/thong-minh/hunonic/o-cam-2-o-co-tiep-dia/o-cam-vien-vang-2-o-3-chau-luxury-hunonic-4.jpg"
                                    alt="ổ cắm 2 ổ 3 chấu ( ổ cắm có tiếp địa) "
                                    class="product-item__img"
                                    loading="lazy"
                                />
                            </div>
                            <h3 class="product-item__heading">ổ cắm 2 ổ 3 chấu ( ổ cắm có tiếp địa)</h3>
                            <div class="product-item__brand">
                                <img
                                    src="/assets/img/thong-minh/hunonic/icon/logo hunonic.png"
                                    alt="thiết bị điện Hunonic"
                                    class="icon"
                                    loading="lazy"
                                />
                                <p>HUNONIC</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Bộ điều khiển trung tâm -->
<section class="home-body">
    <div class="product-details">
        <h2 id="Aptomat-MCB-LS" class="product-details__heading">Bộ điều khiển trung tâm</h2>
        <div class="product-group">
            <div class="product-group__list">
                <div class="product-group__item">
                    <a href="/thiet-bi-dien-thong-minh-hunonic/bo-dieu-khien-trung-tam-home-server.html">
                        <div class="product-item">
                            <div class="product-item__thumb">
                                <img
                                    src="/assets/img/thong-minh/hunonic/bo-dieu-khien-trung-tam-home-server/bo-dieu-khien-trung-tam-home-server-1.jpg"
                                    alt="Bộ Điều Khiển Trung Tâm Hunonic Home Server"
                                    class="product-item__img"
                                    loading="lazy"
                                />
                            </div>
                            <h3 class="product-item__heading">Bộ Điều Khiển Trung Tâm Hunonic Home Server</h3>
                            <div class="product-item__brand">
                                <img
                                    src="/assets/img/thong-minh/hunonic/icon/logo hunonic.png"
                                    alt="thiết bị điện Hunonic"
                                    class="icon"
                                    loading="lazy"
                                />
                                <p>HUNONIC</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="product-group__list">
                <div class="product-group__item">
                    <a href="/thiet-bi-dien-thong-minh-hunonic/bo-dieu-khien-hong-ngoai-IR-smart.html">
                        <div class="product-item">
                            <div class="product-item__thumb">
                                <img
                                    src="/assets/img/thong-minh/hunonic/bo-dieu-khien-hong-ngoai-ir-smart/bo-dieu-khien-hong-ngoai-ir-smart-1.jpg"
                                    alt="Bộ điều khiển Tivi, Điều Hoà qua điện thoại, Hunonic IR Smart"
                                    class="product-item__img"
                                    loading="lazy"
                                />
                            </div>
                            <h3 class="product-item__heading">
                                Bộ điều khiển Tivi, Điều Hoà qua điện thoại, Hunonic IR Smart
                            </h3>
                            <div class="product-item__brand">
                                <img
                                    src="/assets/img/thong-minh/hunonic/icon/logo hunonic.png"
                                    alt="thiết bị điện Hunonic"
                                    class="icon"
                                    loading="lazy"
                                />
                                <p>HUNONIC</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="product-group__list">
                <div class="product-group__item">
                    <a href="/thiet-bi-dien-thong-minh-hunonic/bo-dieu-khien-cong-tu-dong-hunonic-gate.html">
                        <div class="product-item">
                            <div class="product-item__thumb">
                                <img
                                    src="/assets/img/thong-minh/hunonic/bo-dieu-khien-cong-tu-dong-hunonic-gate/bo-dieu-khien-cong-tu-dong-hunonic-gate-1.jpg"
                                    alt="Bộ điều khiển cổng tự động HUNONIC GATE"
                                    class="product-item__img"
                                    loading="lazy"
                                />
                            </div>
                            <h3 class="product-item__heading">Bộ điều khiển cổng tự động HUNONIC GATE</h3>
                            <div class="product-item__brand">
                                <img
                                    src="/assets/img/thong-minh/hunonic/icon/logo hunonic.png"
                                    alt="thiết bị điện Hunonic"
                                    class="icon"
                                    loading="lazy"
                                />
                                <p>HUNONIC</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
