<div class="related-main">
    <div class="document-price ld ld-damage">
        <a href="/thiet-bi-dien-thong-minh-hunonic/catalogue-thiet-bi-dien-thong-minh-hunonic.html">
            <div class="document-price__item">
                <img src="/assets/icon/file-download.svg" alt="Catalogue Hunonic" class="icon ld ld-heartbeat" />
                <h3>Catalogue Hunonic</h3>
            </div>
        </a>
        <a href="/thiet-bi-dien-thong-minh-hunonic/bang-gia-thiet-bi-dien-thong-minh-hunonic.html">
            <div class="document-price__item">
                <img src="/assets/icon/file-download.svg" alt="Bảng giá Hunonic" class="icon ld ld-heartbeat" />
                <h3>Bảng giá Hunonic</h3>
            </div>
        </a>
    </div>
    <div class="related-products">
        <div class="related-products__list">
            <a href="/thiet-bi-dien-thong-minh-hunonic/bo-dieu-khien-tich-hop.html">
                <div class="related-products__item">
                    <img
                        src="/assets/img/thong-minh/hunonic/icon/datic99.jpg"
                        alt="Bộ điều khiển tích hợp Hunonic"
                        class="icon"
                    />
                    <h3>Bộ điều khiển tích hợp Hunonic</h3>
                </div>
            </a>
            <a href="/thiet-bi-dien-thong-minh-hunonic/cong-tac-thong-minh.html">
                <div class="related-products__item">
                    <img
                        src="/assets/img/thong-minh/hunonic/icon/hunonic-luxury.jpg"
                        alt="Công tắc thông minh Hunonic"
                        class="icon"
                    />
                    <h3>Công tắc thông minh Hunonic</h3>
                </div>
            </a>
            <a href="/thiet-bi-dien-thong-minh-hunonic/o-cam-thong-minh.html">
                <div class="related-products__item">
                    <img
                        src="/assets/img/thong-minh/hunonic/icon/o-cam-hnn-datic.jpg"
                        alt="Ổ cắm thông minh Hunonic"
                        class="icon"
                    />
                    <h3>Ổ cắm thông minh Hunonic</h3>
                </div>
            </a>
            <a href="">
                <div class="related-products__item">
                    <img
                        src="/assets/img/thong-minh/hunonic/icon/chuong-cua-png.png"
                        alt="Thiết bị an ninh Hunonic"
                        class="icon"
                    />
                    <h3>Thiết bị an ninh (Chống trộm) Hunonic</h3>
                </div>
            </a>
            <a href="/thiet-bi-dien-thong-minh-hunonic/cam-bien-thong-minh.html">
                <div class="related-products__item">
                    <img
                        src="/assets/img/thong-minh/hunonic/icon/icon-cam-bien-khoi.jpg"
                        alt="Cảm biến thông minh Hunonic"
                        class="icon"
                    />
                    <h3>Cảm biến thông minh Hunonic</h3>
                </div>
            </a>
            <a href="/thiet-bi-dien-thong-minh-hunonic/bo-dieu-khien-trung-tam.html">
                <div class="related-products__item">
                    <img
                        src="/assets/img/thong-minh/hunonic/icon/ir-icon.jpg"
                        alt="Bộ điều khiển trung tâm Hunonic"
                        class="icon"
                    />
                    <h3>Bộ điều khiển trung tâm Hunonic</h3>
                </div>
            </a>
        </div>
    </div>
</div>
