<!-- Aptomat tep MCB -->
<section class="home-body">
    <div class="product-details">
        <h2 id="Aptomat-MCB-LS" class="product-details__heading">Aptomat tép cài MCB NXB-63 1P ( 1 pha - 1 cực)</h2>
        <div class="product-group">
            <div class="product-group__list">
                <div class="product-group__item">
                    <a href="">
                        <div class="product-item">
                            <div class="product-item__thumb">
                                <img
                                    src="/assets/img/tbdcn/chint/NXB-63-1P.png"
                                    alt="Aptomat-tep-MCB-BKJ-1P-1-Pha-6kA"
                                    class="product-item__img"
                                    loading="lazy"
                                />
                            </div>
                            <h3 class="product-item__heading">Aptomat tép NXB-63 1P C6 6kA</h3>
                            <div class="product-item__brand">
                                <img
                                    src="/assets/img/tbdcn/chint/icon/thiet-bi-dien-chint.png"
                                    alt="thiết bị điện chint"
                                    class="icon"
                                    loading="lazy"
                                />
                                <p>CHINT</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="product-group__list">
                <div class="product-group__item">
                    <a href="">
                        <div class="product-item">
                            <div class="product-item__thumb">
                                <img
                                    src="/assets/img/tbdcn/chint/NXB-63-1P.png"
                                    alt="Aptomat-tep-MCB-BKJ-1P-1-Pha-6kA"
                                    class="product-item__img"
                                    loading="lazy"
                                />
                            </div>
                            <h3 class="product-item__heading">Aptomat tép NXB-63 1P C10 6kA</h3>
                            <div class="product-item__brand">
                                <img
                                    src="/assets/img/tbdcn/chint/icon/thiet-bi-dien-chint.png"
                                    alt="thiết bị điện chint"
                                    class="icon"
                                    loading="lazy"
                                />
                                <p>CHINT</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="product-group__list">
                <div class="product-group__item">
                    <a href="">
                        <div class="product-item">
                            <div class="product-item__thumb">
                                <img
                                    src="/assets/img/tbdcn/chint/NXB-63-1P.png"
                                    alt="Aptomat-tep-MCB-BKJ-1P-1-Pha-6kA"
                                    class="product-item__img"
                                    loading="lazy"
                                />
                            </div>
                            <h3 class="product-item__heading">Aptomat tép NXB-63 1P C16 6kA</h3>
                            <div class="product-item__brand">
                                <img
                                    src="/assets/img/tbdcn/chint/icon/thiet-bi-dien-chint.png"
                                    alt="thiết bị điện chint"
                                    class="icon"
                                    loading="lazy"
                                />
                                <p>CHINT</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="product-group__list">
                <div class="product-group__item">
                    <a href="">
                        <div class="product-item">
                            <div class="product-item__thumb">
                                <img
                                    src="/assets/img/tbdcn/chint/NXB-63-1P.png"
                                    alt="Aptomat-tep-MCB-BKJ-1P-1-Pha-6kA"
                                    class="product-item__img"
                                    loading="lazy"
                                />
                            </div>
                            <h3 class="product-item__heading">Aptomat tép NXB-63 1P C20 6kA</h3>
                            <div class="product-item__brand">
                                <img
                                    src="/assets/img/tbdcn/chint/icon/thiet-bi-dien-chint.png"
                                    alt="thiết bị điện chint"
                                    class="icon"
                                    loading="lazy"
                                />
                                <p>CHINT</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="product-group__list">
                <div class="product-group__item">
                    <a href="">
                        <div class="product-item">
                            <div class="product-item__thumb">
                                <img
                                    src="/assets/img/tbdcn/chint/NXB-63-1P.png"
                                    alt="Aptomat-tep-MCB-BKJ-1P-1-Pha-6kA"
                                    class="product-item__img"
                                    loading="lazy"
                                />
                            </div>
                            <h3 class="product-item__heading">Aptomat tép NXB-63 1P C25 6kA</h3>
                            <div class="product-item__brand">
                                <img
                                    src="/assets/img/tbdcn/chint/icon/thiet-bi-dien-chint.png"
                                    alt="thiết bị điện chint"
                                    class="icon"
                                    loading="lazy"
                                />
                                <p>CHINT</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="product-group__list">
                <div class="product-group__item">
                    <a href="">
                        <div class="product-item">
                            <div class="product-item__thumb">
                                <img
                                    src="/assets/img/tbdcn/chint/NXB-63-1P.png"
                                    alt="Aptomat-tep-MCB-BKJ-1P-1-Pha-6kA"
                                    class="product-item__img"
                                    loading="lazy"
                                />
                            </div>
                            <h3 class="product-item__heading">Aptomat tép NXB-63 1P C32 6kA</h3>
                            <div class="product-item__brand">
                                <img
                                    src="/assets/img/tbdcn/chint/icon/thiet-bi-dien-chint.png"
                                    alt="thiết bị điện chint"
                                    class="icon"
                                    loading="lazy"
                                />
                                <p>CHINT</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="product-group__list">
                <div class="product-group__item">
                    <a href="">
                        <div class="product-item">
                            <div class="product-item__thumb">
                                <img
                                    src="/assets/img/tbdcn/chint/NXB-63-1P.png"
                                    alt="Aptomat-tep-MCB-BKJ-1P-1-Pha-6kA"
                                    class="product-item__img"
                                    loading="lazy"
                                />
                            </div>
                            <h3 class="product-item__heading">Aptomat tép NXB-63 1P C40 6kA</h3>
                            <div class="product-item__brand">
                                <img
                                    src="/assets/img/tbdcn/chint/icon/thiet-bi-dien-chint.png"
                                    alt="thiết bị điện chint"
                                    class="icon"
                                    loading="lazy"
                                />
                                <p>CHINT</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="product-group__list">
                <div class="product-group__item">
                    <a href="">
                        <div class="product-item">
                            <div class="product-item__thumb">
                                <img
                                    src="/assets/img/tbdcn/chint/NXB-63-1P.png"
                                    alt="Aptomat-tep-MCB-BKJ-1P-1-Pha-6kA"
                                    class="product-item__img"
                                    loading="lazy"
                                />
                            </div>
                            <h3 class="product-item__heading">Aptomat tép NXB-63 1P C50 6kA</h3>
                            <div class="product-item__brand">
                                <img
                                    src="/assets/img/tbdcn/chint/icon/thiet-bi-dien-chint.png"
                                    alt="thiết bị điện chint"
                                    class="icon"
                                    loading="lazy"
                                />
                                <p>CHINT</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="product-group__list">
                <div class="product-group__item">
                    <a href="">
                        <div class="product-item">
                            <div class="product-item__thumb">
                                <img
                                    src="/assets/img/tbdcn/chint/NXB-63-1P.png"
                                    alt="Aptomat-tep-MCB-BKJ-1P-1-Pha-6kA"
                                    class="product-item__img"
                                    loading="lazy"
                                />
                            </div>
                            <h3 class="product-item__heading">Aptomat tép NXB-63 1P C63 6kA</h3>
                            <div class="product-item__brand">
                                <img
                                    src="/assets/img/tbdcn/chint/icon/thiet-bi-dien-chint.png"
                                    alt="thiết bị điện chint"
                                    class="icon"
                                    loading="lazy"
                                />
                                <p>CHINT</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
