<!-- Aptomat tep MCB AC -->
<section class="home-body">
    <div class="product-details">
        <h2 id="Aptomat-MCB-LS" class="product-details__heading">
            Aptomat tép cài MCB AC NXB-63, NXB-63H, NXB-125, NXB-125G
        </h2>
        <div class="product-group">
            <div class="product-group__list">
                <div class="product-group__item">
                    <a href="thiet-bi-dien-chint/aptomat-tep-MCB-1P-1-pha-1-cuc-chint.html">
                        <div class="product-item">
                            <div class="product-item__thumb">
                                <img
                                    src="/assets/img/tbdcn/chint/NXB-63-1P.png"
                                    alt="Át tép cài AC NXB-63 1P 6kA"
                                    class="product-item__img"
                                    loading="lazy"
                                />
                            </div>
                            <h3 class="product-item__heading">Át tép cài AC NXB-63 1P 6kA</h3>
                            <div class="product-item__brand">
                                <img
                                    src="/assets/img/tbdcn/chint/icon/thiet-bi-dien-chint.png"
                                    alt="thiết bị điện chint"
                                    class="icon"
                                    loading="lazy"
                                />
                                <p>CHINT</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="product-group__list">
                <div class="product-group__item">
                    <a href="thiet-bi-dien-chint/aptomat-tep-MCB-2P-1-pha-2-cuc-chint.html">
                        <div class="product-item">
                            <div class="product-item__thumb">
                                <img
                                    src="/assets/img/tbdcn/chint/NXB-63-2P.png"
                                    alt="Át tép cài AC NXB-63 2P 6kA"
                                    class="product-item__img"
                                    loading="lazy"
                                />
                            </div>
                            <h3 class="product-item__heading">Át tép cài AC NXB-63 2P 6kA</h3>
                            <div class="product-item__brand">
                                <img
                                    src="/assets/img/tbdcn/chint/icon/thiet-bi-dien-chint.png"
                                    alt="thiết bị điện chint"
                                    class="icon"
                                    loading="lazy"
                                />
                                <p>CHINT</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="product-group__list">
                <div class="product-group__item">
                    <a href="thiet-bi-dien-chint/aptomat-tep-MCB-3P-3-pha-3-cuc-chint.html">
                        <div class="product-item">
                            <div class="product-item__thumb">
                                <img
                                    src="/assets/img/tbdcn/chint/NXB-63-3P.png"
                                    alt="Át tép cài AC NXB-63 3P 6kA"
                                    class="product-item__img"
                                    loading="lazy"
                                />
                            </div>
                            <h3 class="product-item__heading">Át tép cài AC NXB-63 3P 6kA</h3>
                            <div class="product-item__brand">
                                <img
                                    src="/assets/img/tbdcn/chint/icon/thiet-bi-dien-chint.png"
                                    alt="thiết bị điện chint"
                                    class="icon"
                                    loading="lazy"
                                />
                                <p>CHINT</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="product-group__list">
                <div class="product-group__item">
                    <a href="thiet-bi-dien-chint/aptomat-tep-MCB-4P-3-pha-4-cuc-chint.html">
                        <div class="product-item">
                            <div class="product-item__thumb">
                                <img
                                    src="/assets/img/tbdcn/chint/NXB-63-4P.png"
                                    alt="Át tép cài AC NXB-63 4P 6kA"
                                    class="product-item__img"
                                    loading="lazy"
                                />
                            </div>
                            <h3 class="product-item__heading">Át tép cài AC NXB-63 4P 6kA</h3>
                            <div class="product-item__brand">
                                <img
                                    src="/assets/img/tbdcn/chint/icon/thiet-bi-dien-chint.png"
                                    alt="thiết bị điện chint"
                                    class="icon"
                                    loading="lazy"
                                />
                                <p>CHINT</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="product-group__list">
                <div class="product-group__item">
                    <a href="thiet-bi-dien-chint/aptomat-tep-MCB-1P-1-pha-1-cuc-chint.html">
                        <div class="product-item">
                            <div class="product-item__thumb">
                                <img
                                    src="/assets/img/tbdcn/chint/NXB-63-1P.png"
                                    alt="Át tép cài AC NXB-63 1P 6kA"
                                    class="product-item__img"
                                    loading="lazy"
                                />
                            </div>
                            <h3 class="product-item__heading">Át tép cài AC NXB-63H 1P 10kA</h3>
                            <div class="product-item__brand">
                                <img
                                    src="/assets/img/tbdcn/chint/icon/thiet-bi-dien-chint.png"
                                    alt="thiết bị điện chint"
                                    class="icon"
                                    loading="lazy"
                                />
                                <p>CHINT</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="product-group__list">
                <div class="product-group__item">
                    <a href="thiet-bi-dien-chint/aptomat-tep-MCB-2P-1-pha-2-cuc-chint.html">
                        <div class="product-item">
                            <div class="product-item__thumb">
                                <img
                                    src="/assets/img/tbdcn/chint/NXB-63-2P.png"
                                    alt="Át tép cài AC NXB-63H 2P 10kA"
                                    class="product-item__img"
                                    loading="lazy"
                                />
                            </div>
                            <h3 class="product-item__heading">Át tép cài AC NXB-63H 2P 10kA</h3>
                            <div class="product-item__brand">
                                <img
                                    src="/assets/img/tbdcn/chint/icon/thiet-bi-dien-chint.png"
                                    alt="thiết bị điện chint"
                                    class="icon"
                                    loading="lazy"
                                />
                                <p>CHINT</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="product-group__list">
                <div class="product-group__item">
                    <a href="thiet-bi-dien-chint/aptomat-tep-MCB-3P-3-pha-3-cuc-chint.html">
                        <div class="product-item">
                            <div class="product-item__thumb">
                                <img
                                    src="/assets/img/tbdcn/chint/NXB-63-3P.png"
                                    alt="Át tép cài AC NXB-63H 3P 10kA"
                                    class="product-item__img"
                                    loading="lazy"
                                />
                            </div>
                            <h3 class="product-item__heading">Át tép cài AC NXB-63H 3P 10kA</h3>
                            <div class="product-item__brand">
                                <img
                                    src="/assets/img/tbdcn/chint/icon/thiet-bi-dien-chint.png"
                                    alt="thiết bị điện chint"
                                    class="icon"
                                    loading="lazy"
                                />
                                <p>CHINT</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="product-group__list">
                <div class="product-group__item">
                    <a href="thiet-bi-dien-chint/aptomat-tep-MCB-4P-3-pha-4-cuc-chint.html">
                        <div class="product-item">
                            <div class="product-item__thumb">
                                <img
                                    src="/assets/img/tbdcn/chint/NXB-63-4P.png"
                                    alt="Át tép cài AC NXB-63H 4P 10kA"
                                    class="product-item__img"
                                    loading="lazy"
                                />
                            </div>
                            <h3 class="product-item__heading">Át tép cài AC NXB-63H 4P 10kA</h3>
                            <div class="product-item__brand">
                                <img
                                    src="/assets/img/tbdcn/chint/icon/thiet-bi-dien-chint.png"
                                    alt="thiết bị điện chint"
                                    class="icon"
                                    loading="lazy"
                                />
                                <p>CHINT</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="product-group__list">
                <div class="product-group__item">
                    <a href="thiet-bi-dien-chint/aptomat-tep-MCB-1P-1-pha-1-cuc-chint.html">
                        <div class="product-item">
                            <div class="product-item__thumb">
                                <img
                                    src="/assets/img/tbdcn/chint/NXB-63-1P.png"
                                    alt="Át tép cài AC NXB-125 1P 10kA"
                                    class="product-item__img"
                                    loading="lazy"
                                />
                            </div>
                            <h3 class="product-item__heading">Át tép cài AC NXB-125 1P 10kA</h3>
                            <div class="product-item__brand">
                                <img
                                    src="/assets/img/tbdcn/chint/icon/thiet-bi-dien-chint.png"
                                    alt="thiết bị điện chint"
                                    class="icon"
                                    loading="lazy"
                                />
                                <p>CHINT</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="product-group__list">
                <div class="product-group__item">
                    <a href="thiet-bi-dien-chint/aptomat-tep-MCB-2P-1-pha-2-cuc-chint.html">
                        <div class="product-item">
                            <div class="product-item__thumb">
                                <img
                                    src="/assets/img/tbdcn/chint/NXB-63-2P.png"
                                    alt="Át tép cài AC NXB-125 2P 10kA"
                                    class="product-item__img"
                                    loading="lazy"
                                />
                            </div>
                            <h3 class="product-item__heading">Át tép cài AC NXB-125 2P 10kA</h3>
                            <div class="product-item__brand">
                                <img
                                    src="/assets/img/tbdcn/chint/icon/thiet-bi-dien-chint.png"
                                    alt="thiết bị điện chint"
                                    class="icon"
                                    loading="lazy"
                                />
                                <p>CHINT</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="product-group__list">
                <div class="product-group__item">
                    <a href="thiet-bi-dien-chint/aptomat-tep-MCB-3P-3-pha-3-cuc-chint.html">
                        <div class="product-item">
                            <div class="product-item__thumb">
                                <img
                                    src="/assets/img/tbdcn/chint/NXB-63-3P.png"
                                    alt="Át tép cài AC NXB-125 3P 10kA"
                                    class="product-item__img"
                                    loading="lazy"
                                />
                            </div>
                            <h3 class="product-item__heading">Át tép cài AC NXB-125 3P 10kA</h3>
                            <div class="product-item__brand">
                                <img
                                    src="/assets/img/tbdcn/chint/icon/thiet-bi-dien-chint.png"
                                    alt="thiết bị điện chint"
                                    class="icon"
                                    loading="lazy"
                                />
                                <p>CHINT</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="product-group__list">
                <div class="product-group__item">
                    <a href="thiet-bi-dien-chint/aptomat-tep-MCB-4P-3-pha-4-cuc-chint.html">
                        <div class="product-item">
                            <div class="product-item__thumb">
                                <img
                                    src="/assets/img/tbdcn/chint/NXB-63-4P.png"
                                    alt="Át tép cài AC NXB-125 4P 10kA"
                                    class="product-item__img"
                                    loading="lazy"
                                />
                            </div>
                            <h3 class="product-item__heading">Át tép cài AC NXB-125 4P 10kA</h3>
                            <div class="product-item__brand">
                                <img
                                    src="/assets/img/tbdcn/chint/icon/thiet-bi-dien-chint.png"
                                    alt="thiết bị điện chint"
                                    class="icon"
                                    loading="lazy"
                                />
                                <p>CHINT</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="product-group__list">
                <div class="product-group__item">
                    <a href="thiet-bi-dien-chint/aptomat-tep-MCB-1P-1-pha-1-cuc-chint.html">
                        <div class="product-item">
                            <div class="product-item__thumb">
                                <img
                                    src="/assets/img/tbdcn/chint/NXB-63-1P.png"
                                    alt="Át tép cài AC NXB-125G 1P 10kA"
                                    class="product-item__img"
                                    loading="lazy"
                                />
                            </div>
                            <h3 class="product-item__heading">Át tép cài AC NXB-125G 1P 10kA</h3>
                            <div class="product-item__brand">
                                <img
                                    src="/assets/img/tbdcn/chint/icon/thiet-bi-dien-chint.png"
                                    alt="thiết bị điện chint"
                                    class="icon"
                                    loading="lazy"
                                />
                                <p>CHINT</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="product-group__list">
                <div class="product-group__item">
                    <a href="thiet-bi-dien-chint/aptomat-tep-MCB-2P-1-pha-2-cuc-chint.html">
                        <div class="product-item">
                            <div class="product-item__thumb">
                                <img
                                    src="/assets/img/tbdcn/chint/NXB-63-2P.png"
                                    alt="Át tép cài AC NXB-125G 2P 10kA"
                                    class="product-item__img"
                                    loading="lazy"
                                />
                            </div>
                            <h3 class="product-item__heading">Át tép cài AC NXB-125G 2P 10kA</h3>
                            <div class="product-item__brand">
                                <img
                                    src="/assets/img/tbdcn/chint/icon/thiet-bi-dien-chint.png"
                                    alt="thiết bị điện chint"
                                    class="icon"
                                    loading="lazy"
                                />
                                <p>CHINT</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="product-group__list">
                <div class="product-group__item">
                    <a href="thiet-bi-dien-chint/aptomat-tep-MCB-3P-3-pha-3-cuc-chint.html">
                        <div class="product-item">
                            <div class="product-item__thumb">
                                <img
                                    src="/assets/img/tbdcn/chint/NXB-63-3P.png"
                                    alt="Át tép cài AC NXB-125G 3P 10kA"
                                    class="product-item__img"
                                    loading="lazy"
                                />
                            </div>
                            <h3 class="product-item__heading">Át tép cài AC NXB-125G 3P 10kA</h3>
                            <div class="product-item__brand">
                                <img
                                    src="/assets/img/tbdcn/chint/icon/thiet-bi-dien-chint.png"
                                    alt="thiết bị điện chint"
                                    class="icon"
                                    loading="lazy"
                                />
                                <p>CHINT</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="product-group__list">
                <div class="product-group__item">
                    <a href="thiet-bi-dien-chint/aptomat-tep-MCB-4P-3-pha-4-cuc-chint.html">
                        <div class="product-item">
                            <div class="product-item__thumb">
                                <img
                                    src="/assets/img/tbdcn/chint/NXB-63-4P.png"
                                    alt="Át tép cài AC NXB-125G 4P 10kA"
                                    class="product-item__img"
                                    loading="lazy"
                                />
                            </div>
                            <h3 class="product-item__heading">Át tép cài AC NXB-125G 4P 10kA</h3>
                            <div class="product-item__brand">
                                <img
                                    src="/assets/img/tbdcn/chint/icon/thiet-bi-dien-chint.png"
                                    alt="thiết bị điện chint"
                                    class="icon"
                                    loading="lazy"
                                />
                                <p>CHINT</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Aptomat tep MCB ADC -->
<section class="home-body">
    <div class="product-details">
        <h2 id="Aptomat-MCB-LS" class="product-details__heading">Aptomat tép cài MCB NB1-63DC</h2>
        <div class="product-group">
            <div class="product-group__list">
                <div class="product-group__item">
                    <a href="thiet-bi-dien-chint/aptomat-tep-MCB-1P-1-pha-1-cuc-chint.html">
                        <div class="product-item">
                            <div class="product-item__thumb">
                                <img
                                    src="/assets/img/tbdcn/chint/NXB-63-1P.png"
                                    alt="Át tép cài DC NB1-63DC 1P 6kA"
                                    class="product-item__img"
                                    loading="lazy"
                                />
                            </div>
                            <h3 class="product-item__heading">Át tép cài DC NB1-63DC 1P 6kA</h3>
                            <div class="product-item__brand">
                                <img
                                    src="/assets/img/tbdcn/chint/icon/thiet-bi-dien-chint.png"
                                    alt="thiết bị điện chint"
                                    class="icon"
                                    loading="lazy"
                                />
                                <p>CHINT</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="product-group__list">
                <div class="product-group__item">
                    <a href="thiet-bi-dien-chint/aptomat-tep-MCB-2P-1-pha-2-cuc-chint.html">
                        <div class="product-item">
                            <div class="product-item__thumb">
                                <img
                                    src="/assets/img/tbdcn/chint/NXB-63-2P.png"
                                    alt="Át tép cài DC NB1-63DC 2P 6kA"
                                    class="product-item__img"
                                    loading="lazy"
                                />
                            </div>
                            <h3 class="product-item__heading">Át tép cài DC NB1-63DC 2P 6kA</h3>
                            <div class="product-item__brand">
                                <img
                                    src="/assets/img/tbdcn/chint/icon/thiet-bi-dien-chint.png"
                                    alt="thiết bị điện chint"
                                    class="icon"
                                    loading="lazy"
                                />
                                <p>CHINT</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="product-group__list">
                <div class="product-group__item">
                    <a href="thiet-bi-dien-chint/aptomat-tep-MCB-3P-3-pha-3-cuc-chint.html">
                        <div class="product-item">
                            <div class="product-item__thumb">
                                <img
                                    src="/assets/img/tbdcn/chint/NXB-63-3P.png"
                                    alt="Át tép cài DC NB1-63DC 3P 6kA"
                                    class="product-item__img"
                                    loading="lazy"
                                />
                            </div>
                            <h3 class="product-item__heading">Át tép cài DC NB1-63DC 3P 6kA</h3>
                            <div class="product-item__brand">
                                <img
                                    src="/assets/img/tbdcn/chint/icon/thiet-bi-dien-chint.png"
                                    alt="thiết bị điện chint"
                                    class="icon"
                                    loading="lazy"
                                />
                                <p>CHINT</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="product-group__list">
                <div class="product-group__item">
                    <a href="thiet-bi-dien-chint/aptomat-tep-MCB-4P-3-pha-4-cuc-chint.html">
                        <div class="product-item">
                            <div class="product-item__thumb">
                                <img
                                    src="/assets/img/tbdcn/chint/NXB-63-4P.png"
                                    alt="Át tép cài DC NB1-63DC 4P 6kA"
                                    class="product-item__img"
                                    loading="lazy"
                                />
                            </div>
                            <h3 class="product-item__heading">Át tép cài DC NB1-63DC 4P 6kA</h3>
                            <div class="product-item__brand">
                                <img
                                    src="/assets/img/tbdcn/chint/icon/thiet-bi-dien-chint.png"
                                    alt="thiết bị điện chint"
                                    class="icon"
                                    loading="lazy"
                                />
                                <p>CHINT</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
