<div class="related-main">
    <div class="document-price ld ld-damage">
        <a href="">
            <div class="document-price__item">
                <img src="/assets/icon/file-download.svg" alt="Catalogue Chint" class="icon ld ld-heartbeat" />
                <h3>Catalogue Chint</h3>
            </div>
        </a>
        <a href="">
            <div class="document-price__item">
                <img src="/assets/icon/file-download.svg" alt="Bảng giá Chint" class="icon ld ld-heartbeat" />
                <h3>Bảng giá Chint</h3>
            </div>
        </a>
    </div>
    <div class="related-products">
        <div class="related-products__list">
            <a href="">
                <div class="related-products__item">
                    <img src="/assets/img/tbdcn/chint/icon/MCCB-chint.png" alt="Aptomat khối MCCB Chint" class="icon" />
                    <h3>Aptomat khối MCCB Chint</h3>
                </div>
            </a>
            <a href="/thiet-bi-dien-chint/aptomat-mcb-at-cai-chint.html">
                <div class="related-products__item">
                    <img src="/assets/img/tbdcn/chint/icon/NXB-63-1P.png" alt="Aptomat Cài MCB Chint" class="icon" />
                    <h3>Aptomat Cài MCB Chint</h3>
                </div>
            </a>
            <a href="">
                <div class="related-products__item">
                    <img
                        src="/assets/img/tbdcn/chint/icon/elcb-rcbo-rccb-chint.png"
                        alt="Aptomat chống giật ELCB, RCBO, RCCB"
                        class="icon"
                    />
                    <h3>Aptomat chống giật ELCB, RCBO, RCCB</h3>
                </div>
            </a>
            <a href="">
                <div class="related-products__item">
                    <img
                        src="/assets/img/tbdcn/chint/icon/contactor-khoi-dong-tu-chint.png"
                        alt="Khởi động từ (contactor) Chint"
                        class="icon"
                    />
                    <h3>Khởi động từ (contactor) Chint</h3>
                </div>
            </a>
            <a href="">
                <div class="related-products__item">
                    <img
                        src="/assets/img/tbdcn/chint/icon/Role-nhiet-chint.png"
                        alt="Rơ le nhiệt (relay nhiệt) Chint"
                        class="icon"
                    />
                    <h3>Rơ le nhiệt (relay nhiệt) Chint</h3>
                </div>
            </a>
            <a href="">
                <div class="related-products__item">
                    <img
                        src="/assets/img/tbdcn/chint/icon/acb-chint.png"
                        alt="ACB (Máy cắt không khí) Chint"
                        class="icon"
                    />
                    <h3>ACB (Máy cắt không khí) Chint</h3>
                </div>
            </a>
            <a href="">
                <div class="related-products__item">
                    <img
                        src="/assets/img/tbdcn/chint/icon/bo-chuyen-nguon-ats-chint.jpg"
                        alt="Bộ chuyển nguồn ATS Chint"
                        class="icon"
                    />
                    <h3>Bộ chuyển nguồn ATS Chint</h3>
                </div>
            </a>
            <a href="">
                <div class="related-products__item">
                    <img
                        src="/assets/img/tbdcn/chint/icon/cau-dao-cach-ly-Chint.png"
                        alt="Cầu dao cách ly (Bộ ngắt kết nối) Chint"
                        class="icon"
                    />
                    <h3>Cầu dao cách ly (Bộ ngắt kết nối) Chint</h3>
                </div>
            </a>
            <a href="">
                <div class="related-products__item">
                    <img
                        src="/assets/img/tbdcn/chint/icon/phu-kien-chint.png"
                        alt="Phụ kiện đấu nối chint"
                        class="icon"
                    />
                    <h3>Phụ kiện đấu nối chint</h3>
                </div>
            </a>
            <a href="">
                <div class="related-products__item">
                    <img src="/assets/img/tbdcn/chint/icon/bien-tan-chint.png" alt="Biến tần Chint" class="icon" />
                    <h3>Biến tần Chint</h3>
                </div>
            </a>
        </div>
    </div>
</div>
