<!-- Aptomat tep MCB -->
<section class="home-body">
    <div class="product-details">
        <h2 id="Aptomat-MCB-LS" class="product-details__heading">Aptomat tép cài MCB LS</h2>
        <div class="product-group">
            <div class="product-group__list">
                <div class="product-group__item">
                    <a href="">
                        <div class="product-item">
                            <div class="product-item__thumb">
                                <img
                                    src="/assets/img/tbdcn/LS/LA1P.png"
                                    alt="Aptomat-tep-MCB-1P-1-Pha-1-cuc"
                                    class="product-item__img"
                                    loading="lazy"
                                />
                            </div>
                            <h3 class="product-item__heading">Aptomat tép cài MCB 1P (1 Pha 1 cực)</h3>
                            <div class="product-item__brand">
                                <img
                                    src="/assets/img/tbdcn/LS/icon/thiet-bi-dien-ls-1.png"
                                    alt="thiết bị điện LS"
                                    class="icon"
                                    loading="lazy"
                                />
                                <p>LS ELECTRIC</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="product-group__list">
                <div class="product-group__item">
                    <a href="">
                        <div class="product-item">
                            <div class="product-item__thumb">
                                <img
                                    src="/assets/img/tbdcn/LS/LA2P.png"
                                    alt="Aptomat-tep-MCB-2P-1-Pha-2-cuc"
                                    class="product-item__img"
                                    loading="lazy"
                                />
                            </div>
                            <h3 class="product-item__heading">Aptomat tép cài MCB 2P (1 Pha 2 cực)</h3>
                            <div class="product-item__brand">
                                <img
                                    src="/assets/img/tbdcn/LS/icon/thiet-bi-dien-ls-1.png"
                                    alt="thiết bị điện LS"
                                    class="icon"
                                    loading="lazy"
                                />
                                <p>LS ELECTRIC</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="product-group__list">
                <div class="product-group__item">
                    <a href="">
                        <div class="product-item">
                            <div class="product-item__thumb">
                                <img
                                    src="/assets/img/tbdcn/LS/LA3P.png"
                                    alt="Aptomat-tep-MCB-3P-3-Pha-3-cuc"
                                    class="product-item__img"
                                    loading="lazy"
                                />
                            </div>
                            <h3 class="product-item__heading">Aptomat tép cài MCB 3P (3 Pha 3 cực)</h3>
                            <div class="product-item__brand">
                                <img
                                    src="/assets/img/tbdcn/LS/icon/thiet-bi-dien-ls-1.png"
                                    alt="thiết bị điện LS"
                                    class="icon"
                                    loading="lazy"
                                />
                                <p>LS ELECTRIC</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="product-group__list">
                <div class="product-group__item">
                    <a href="">
                        <div class="product-item">
                            <div class="product-item__thumb">
                                <img
                                    src="/assets/img/tbdcn/LS/LA4P.png"
                                    alt="Aptomat-tep-MCB-4P-3-Pha-4-cuc"
                                    class="product-item__img"
                                    loading="lazy"
                                />
                            </div>
                            <h3 class="product-item__heading">Aptomat tép cài MCB 4P (3 Pha 4 cực)</h3>
                            <div class="product-item__brand">
                                <img
                                    src="/assets/img/tbdcn/LS/icon/thiet-bi-dien-ls-1.png"
                                    alt="thiết bị điện LS"
                                    class="icon"
                                    loading="lazy"
                                />
                                <p>LS ELECTRIC</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Aptomat MCCB -->
<section class="home-body">
    <div class="product-details">
        <h2 id="Aptomat-MCB-LS" class="product-details__heading">Aptomat khối MCCB LS</h2>
        <div class="product-group">
            <div class="product-group__list">
                <div class="product-group__item">
                    <a href="">
                        <div class="product-item">
                            <div class="product-item__thumb">
                                <img
                                    src="/assets/img/tbdcn/LS/Aptomat-khoi-MCCB-ABN52c-1-pha-2-cuc-LS.png"
                                    alt="Aptomat-khoi-mccb-2P-1-Pha-2-cuc"
                                    class="product-item__img"
                                    loading="lazy"
                                />
                            </div>
                            <h3 class="product-item__heading">Aptomat khối MCCB 2P (1 Pha 2 cực)</h3>
                            <div class="product-item__brand">
                                <img
                                    src="/assets/img/tbdcn/LS/icon/thiet-bi-dien-ls-1.png"
                                    alt="thiết bị điện LS"
                                    class="icon"
                                    loading="lazy"
                                />
                                <p>LS ELECTRIC</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="product-group__list">
                <div class="product-group__item">
                    <a href="">
                        <div class="product-item">
                            <div class="product-item__thumb">
                                <img
                                    src="/assets/img/tbdcn/LS/Aptomat-khoi-MCCB-ABN53c-3P-3-pha-3-cuc-LS.png"
                                    alt="Aptomat-khoi-mccb-3P-3-Pha-3-cuc"
                                    class="product-item__img"
                                    loading="lazy"
                                />
                            </div>
                            <h3 class="product-item__heading">Aptomat khối MCCB 3P (3 Pha 3 cực)</h3>
                            <div class="product-item__brand">
                                <img
                                    src="/assets/img/tbdcn/LS/icon/thiet-bi-dien-ls-1.png"
                                    alt="thiết bị điện LS"
                                    class="icon"
                                    loading="lazy"
                                />
                                <p>LS ELECTRIC</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="product-group__list">
                <div class="product-group__item">
                    <a href="">
                        <div class="product-item">
                            <div class="product-item__thumb">
                                <img
                                    src="/assets/img/tbdcn/LS/Aptomat-khoi-MCCB-ABN54c-4P-3-pha-4-cuc-LS.png"
                                    alt="Aptomat-khoi-mccb-4P-3-Pha-4-cuc"
                                    class="product-item__img"
                                    loading="lazy"
                                />
                            </div>
                            <h3 class="product-item__heading">Aptomat khối MCCB 4P (3 Pha 4 cực)</h3>
                            <div class="product-item__brand">
                                <img
                                    src="/assets/img/tbdcn/LS/icon/thiet-bi-dien-ls-1.png"
                                    alt="thiết bị điện LS"
                                    class="icon"
                                    loading="lazy"
                                />
                                <p>LS ELECTRIC</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Khởi động từ -->
<section class="home-body">
    <div class="product-details">
        <h2 id="Aptomat-MCB-LS" class="product-details__heading">Khởi động từ (Contactor) LS</h2>
        <div class="product-group">
            <div class="product-group__list">
                <div class="product-group__item">
                    <a href="">
                        <div class="product-item">
                            <div class="product-item__thumb">
                                <img
                                    src="/assets/img/tbdcn/LS/khoi-dong-tu-Contactor-3P-LS-MC-65-150.png"
                                    alt="Khoi-dong-tu-contactor-3-pha-LS"
                                    class="product-item__img"
                                    loading="lazy"
                                />
                            </div>
                            <h3 class="product-item__heading">Khởi động từ (Contactor) 3 Pha LS</h3>
                            <div class="product-item__brand">
                                <img
                                    src="/assets/img/tbdcn/LS/icon/thiet-bi-dien-ls-1.png"
                                    alt="thiết bị điện LS"
                                    class="icon"
                                    loading="lazy"
                                />
                                <p>LS ELECTRIC</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="product-group__list">
                <div class="product-group__item">
                    <a href="">
                        <div class="product-item">
                            <div class="product-item__thumb">
                                <img
                                    src="/assets/img/tbdcn/LS/khoi-dong-tu-Contactor-4P-LS-MC-1854-265.png"
                                    alt="Khoi-dong-tu-contactor-4-pha-LS"
                                    class="product-item__img"
                                    loading="lazy"
                                />
                            </div>
                            <h3 class="product-item__heading">Khởi động từ (Contactor) 4 Pha LS</h3>
                            <div class="product-item__brand">
                                <img
                                    src="/assets/img/tbdcn/LS/icon/thiet-bi-dien-ls-1.png"
                                    alt="thiết bị điện LS"
                                    class="icon"
                                    loading="lazy"
                                />
                                <p>LS ELECTRIC</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Rơ le nhiệt -->
<section class="home-body">
    <div class="product-details">
        <h2 id="Aptomat-MCB-LS" class="product-details__heading">Rơ le nhiệt (Relay) LS</h2>
        <div class="product-group">
            <div class="product-group__list">
                <div class="product-group__item">
                    <a href="">
                        <div class="product-item">
                            <div class="product-item__thumb">
                                <img
                                    src="/assets/img/tbdcn/LS/Ro-le-nhiệt-3P-MT-LS.png"
                                    alt="Ro-le-nhiet-3-pha-LS"
                                    class="product-item__img"
                                    loading="lazy"
                                />
                            </div>
                            <h3 class="product-item__heading">Rơ le nhiệt (Relay) 3 Pha LS</h3>
                            <div class="product-item__brand">
                                <img
                                    src="/assets/img/tbdcn/LS/icon/thiet-bi-dien-ls-1.png"
                                    alt="thiết bị điện LS"
                                    class="icon"
                                    loading="lazy"
                                />
                                <p>LS ELECTRIC</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="product-group__list">
                <div class="product-group__item">
                    <a href="">
                        <div class="product-item">
                            <div class="product-item__thumb">
                                <img
                                    src="/assets/img/tbdcn/LS/Ro-le-nhiệt-4P-MT-LS.png"
                                    alt="Ro-le-nhiet-4-pha-LS"
                                    class="product-item__img"
                                    loading="lazy"
                                />
                            </div>
                            <h3 class="product-item__heading">Rơ le nhiệt (Relay) 4 Pha LS</h3>
                            <div class="product-item__brand">
                                <img
                                    src="/assets/img/tbdcn/LS/icon/thiet-bi-dien-ls-1.png"
                                    alt="thiết bị điện LS"
                                    class="icon"
                                    loading="lazy"
                                />
                                <p>LS ELECTRIC</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Máy cắt không khí -->
<section class="home-body">
    <div class="product-details">
        <h2 id="Aptomat-MCB-LS" class="product-details__heading">Máy cắt không khí (ACB) LS</h2>
        <div class="product-group">
            <div class="product-group__list">
                <div class="product-group__item">
                    <a href="">
                        <div class="product-item">
                            <div class="product-item__thumb">
                                <img
                                    src="/assets/img/tbdcn/LS/may-cat-khong-khi-metasol-3P-LS.png"
                                    alt="may-cat-khong-khi-acb-3-pha-LS"
                                    class="product-item__img"
                                    loading="lazy"
                                />
                            </div>
                            <h3 class="product-item__heading">Máy cắt không khí (ACB) 3 Pha LS</h3>
                            <div class="product-item__brand">
                                <img
                                    src="/assets/img/tbdcn/LS/icon/thiet-bi-dien-ls-1.png"
                                    alt="thiết bị điện LS"
                                    class="icon"
                                    loading="lazy"
                                />
                                <p>LS ELECTRIC</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="product-group__list">
                <div class="product-group__item">
                    <a href="">
                        <div class="product-item">
                            <div class="product-item__thumb">
                                <img
                                    src="/assets/img/tbdcn/LS/may-cat-khong-khi-metasol-4P-LS.png"
                                    alt="may-cat-khong-khi-acb-4-pha-LS"
                                    class="product-item__img"
                                    loading="lazy"
                                />
                            </div>
                            <h3 class="product-item__heading">Máy cắt không khí (ACB) 4 Pha LS</h3>
                            <div class="product-item__brand">
                                <img
                                    src="/assets/img/tbdcn/LS/icon/thiet-bi-dien-ls-1.png"
                                    alt="thiết bị điện LS"
                                    class="icon"
                                    loading="lazy"
                                />
                                <p>LS ELECTRIC</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
