<div class="related-main">
    <div class="document-price ld ld-damage">
        <a href="/thiet-bi-dien-ls/catalogue-thiet-bi-dien-ls.html">
            <div class="document-price__item">
                <img src="/assets/icon/file-download.svg" alt="Catalogue LS" class="icon ld ld-heartbeat" />
                <h3>Catalogue LS</h3>
            </div>
        </a>
        <a href="/thiet-bi-dien-ls/bang-gia-thiet-bi-dien-ls.html">
            <div class="document-price__item">
                <img src="/assets/icon/file-download.svg" alt="Bảng giá LS" class="icon ld ld-heartbeat" />
                <h3>Bảng giá LS</h3>
            </div>
        </a>
    </div>
    <div class="related-products">
        <div class="related-products__list">
            <a href="/thiet-bi-dien-ls/aptomat-khoi-mccb-ls.html">
                <div class="related-products__item">
                    <img src="/assets/img/tbdcn/LS/icon/MCCB-LS.png" alt="Aptomat khối MCCB LS" class="icon" />
                    <h3>Aptomat khối MCCB LS</h3>
                </div>
            </a>
            <a href="/thiet-bi-dien-ls/aptomat-tep-cai-mcb-ls.html">
                <div class="related-products__item">
                    <img src="/assets/img/tbdcn/LS/icon/LA1P.png" alt="Aptomat Cài MCB LS" class="icon" />
                    <h3>Aptomat tép Cài MCB LS</h3>
                </div>
            </a>
            <a href="/thiet-bi-dien-ls/aptomat-tep-cai-chong-giat-elcb-rccb-rcbo-ls.html">
                <div class="related-products__item">
                    <img src="/assets/img/tbdcn/LS/icon/LA1P.png" alt="Aptomat Cài MCB LS" class="icon" />
                    <h3>Aptomat tép cài ELCB, RCBO, RCCB</h3>
                </div>
            </a>
            <a href="/thiet-bi-dien-ls/aptomat-chong-ro-chong-giat-khoi-elcb-ls.html">
                <div class="related-products__item">
                    <img
                        src="/assets/img/tbdcn/LS/icon/elcb-rcbo-rccb-LS.png"
                        alt="Aptomat chống giật ELCB, RCBO, RCCB"
                        class="icon"
                    />
                    <h3>Aptomat khối chống giật ELCB</h3>
                </div>
            </a>
            <a href="/thiet-bi-dien-ls/khoi-dong-tu-contactor-ls.html">
                <div class="related-products__item">
                    <img
                        src="/assets/img/tbdcn/LS/icon/contactor-khoi-dong-tu-LS.png"
                        alt="Khởi động từ (contactor) LS"
                        class="icon"
                    />
                    <h3>Khởi động từ (contactor) MC LS</h3>
                </div>
            </a>
            <a href="/thiet-bi-dien-ls/ro-le-nhiet-mt-ls.html">
                <div class="related-products__item">
                    <img
                        src="/assets/img/tbdcn/LS/icon/Role-nhiet-LS.png"
                        alt="Rơ le nhiệt (relay nhiệt) LS"
                        class="icon"
                    />
                    <h3>Rơ le nhiệt (relay nhiệt) MT LS</h3>
                </div>
            </a>
            <a href="/thiet-bi-dien-ls/may-cat-khong-khi-acb-ls.html">
                <div class="related-products__item">
                    <img src="/assets/img/tbdcn/LS/icon/acb-LS.png" alt="ACB (Máy cắt không khí) LS" class="icon" />
                    <h3>ACB (Máy cắt không khí) LS</h3>
                </div>
            </a>
            <a href="/thiet-bi-dien-ls/chong-set-lan-truyen-bks-ls.html">
                <div class="related-products__item">
                    <img
                        src="/assets/img/tbdcn/LS/icon/thiet-bi-chong-set-lan-truyen-2P-LS.png"
                        alt="Chống sét lan truyền LS"
                        class="icon"
                    />
                    <h3>Chống sét lan truyền BKS LS</h3>
                </div>
            </a>
            <a href="/thiet-bi-dien-ls/ro-le-dien-tu-gmp-ls.html">
                <div class="related-products__item">
                    <img
                        src="/assets/img/tbdcn/LS/icon/Ro-le-dien-tu-3P-GMP-LS.png"
                        alt="Rơ le điện tử LS"
                        class="icon"
                    />
                    <h3>Rơ le điện tử GMP LS</h3>
                </div>
            </a>
            <a href="/thiet-bi-dien-ls/bo-khoi-dong-dong-co-mms-ls.html">
                <div class="related-products__item">
                    <img
                        src="/assets/img/tbdcn/LS/icon/bo-khoi-dong-dong-co.png"
                        alt="Bộ khởi động động cơ MMS"
                        class="icon"
                    />
                    <h3>Bộ khởi động động cơ MMS</h3>
                </div>
            </a>

            <a href="/thiet-bi-dien-ls/bien-tan-ls.html">
                <div class="related-products__item">
                    <img src="/assets/img/tbdcn/LS/icon/bien-tan-LS.png" alt="Biến tần LS" class="icon" />
                    <h3>Biến tần LS</h3>
                </div>
            </a>
        </div>
    </div>
</div>
