*,
::before,
::after {
    box-sizing: border-box;
}

:root {
    --text-color: #1a162e;
    --border-color: red;
    --background-color: rgb(252, 126, 126, 0.3);
    --price-color: rgb(230, 58, 58);
    ---color-background-zalo: #5092fc;
    ---color-background-phone: red;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6 rem;
    font-family: Roboto, sans-serif;
    color: var(--text-color);
    text-align: justify;
    // overflow-x: hidden;
}
a {
    color: inherit;
    text-decoration: none;
}
button {
    border: none;
    outline: none;
    background: transparent;
}
button,
input,
textarea,
select {
    font-family: inherit;
    color: inherit;
}
.icon {
    width: 24px;
}
b,
strong {
    font-weight: 600;
}

i,
em {
    font-style: italic;
}
