<section class="brand-directory">
    <div class="brand-directory__list">
        <a href="/thiet-bi-dien-ls.html" class="brand-directory__link">
            <div class="brand-directory__item">
                <div class="brand-directory__thumb">
                    <img
                        src="/assets/img/brand-directory/thiet-bi-dien-ls-1.png"
                        alt="thiet-bi-dien-LS"
                        class="brand-directory__img"
                    />
                </div>
                <h2 class="d-lg-none">Thiết bị điện LS</h2>
            </div>
        </a>
        <a href="/thiet-bi-dien-chint.html" class="brand-directory__link">
            <div class="brand-directory__item">
                <div class="brand-directory__thumb">
                    <img
                        src="/assets/img/brand-directory/thiet-bi-dien-chint.png"
                        alt="thiet-bi-dien-Chint"
                        class="brand-directory__img"
                    />
                </div>
                <h2 class="d-lg-none">Thiết bị điện Chint</h2>
            </div>
        </a>
        <a href="/thiet-bi-dien-huyndai.html" class="brand-directory__link">
            <div class="brand-directory__item">
                <div class="brand-directory__thumb">
                    <img
                        src="/assets/img/brand-directory/thiet-bi-dien-huyndai.png"
                        alt="thiet-bi-dien-Huyndai"
                        class="brand-directory__img"
                    />
                </div>
                <h2 class="d-lg-none">Thiết bị điện Huyndai</h2>
            </div>
        </a>
        <a href="/thiet-bi-dien-mitsubishi.html" class="brand-directory__link">
            <div class="brand-directory__item">
                <div class="brand-directory__thumb">
                    <img
                        src="/assets/img/brand-directory/thiet-bi-dien-mitsubishi.png"
                        alt="thiet-bi-dien-mitsubishi"
                        class="brand-directory__img"
                    />
                </div>
                <h2 class="d-lg-none">Thiết bị điện Mitsubishi</h2>
            </div>
        </a>
        <a href="/thiet-bi-dien-schneider.html" class="brand-directory__link">
            <div class="brand-directory__item">
                <div class="brand-directory__thumb">
                    <img
                        src="/assets/img/brand-directory/thiet-bi-dien-schneider.png"
                        alt="thiet-bi-dien-schneider"
                        class="brand-directory__img"
                    />
                </div>
                <h2 class="d-lg-none">Thiết bị điện Schneider</h2>
            </div>
        </a>
        <a href="/thiet-bi-dien-abb.html" class="brand-directory__link">
            <div class="brand-directory__item">
                <div class="brand-directory__thumb">
                    <img
                        src="/assets/img/brand-directory/thiet-bi-dien-abb.png"
                        alt="thiet-bi-dien-abb"
                        class="brand-directory__img"
                    />
                </div>
                <h2 class="d-lg-none">Thiết bị điện ABB</h2>
            </div>
        </a>
    </div>
</section>
